@charset "utf-8";

$main-color: #fff;

body {
  background-color: $main-color;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav {
  margin-top: 100px;
}

.body {
  &__flex {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: url(../images/desk.jpeg) no-repeat bottom center;
    // background-position: 0% 190%;
    // background-size: 100px;
  }
}

.tv {
  margin: 100px 10px;
  width: 70%;
  padding: 20px 10px;
  background-color: #333;
  border: #000 solid;
  border-radius: 10px;

  &::before {
    content: "";
    display: block;
    position: relative;
    bottom: -10px;
    background-color: #333;
    width: 10%;
    margin: 0 auto;
    height: 50px;
    top: 60vh;
  }

  &::after {
    content: "";
    display: block;
    position: relative;
    bottom: -10px;
    background-color: #333;
    width: 70%;
    margin: 0 auto;
    height: 25px;
    top: 10vh;
    border-radius: 50%;
  }
}

.ytMovie {
  width: 100%;
}

.video {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  display: block;
}

.btn {
  background-color: #333;
  &__list {
    background-color: #fff;
    border: 0.5px solid #333;
    padding: 10px 5px;
    cursor: pointer;
  }
}

.rimocon {
  padding: 10px;
  width: 300px;
  height: 90vh;
  background-color: #333;
  border-radius: 25px;

  &__list {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }
  &__list2 {
  }

  &__btn {
    margin: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: #fff;
    width: 70px;
    height: 70px;
    line-height: 50px;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
  }

  img {
    width: 70%;

    margin: 0 auto;
  }

  .Red {
    background-color: #ff0000;
  }

  .black {
    background-color: #333 !important;
  }

  .modoru img {
    transform: rotateY(180deg);
  }
}

#searchBtn {
  background-color: #333;
  border: none;
  border-radius: 0;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}
#ytSearch {
  background-color: #333;
  color: #fff;
  padding: 0px 5px;
  height: 50px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

#MovieId {
  background-color: #333;
  color: #fff;
  padding: 0px 5px;
  height: 50px;
}

.imgDesk {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 66vh;
  z-index: -10;
  opacity: 0.8;
}
